# Each section represents a gesture and the lines below it
# define which action to take when the action is performed
# with a certain amount of fingers.

[screentap]
# Currently screentap only works reliably with one finger
#1: command for one finger tap

[keytap]
# Currently keytap is disabled due too conflicts with other gestures

[swipeleft]
#1: command for one finger swipe left
#2: command for two finger swipe left
#3: command for three finger swipe left
#4: command for four finger swipe left
#5: command for five finger swipe left
#6: command for six finger swipe left
#7: command for seven finger swipe left
#8: command for eight finger swipe left
#9: command for nine finger swipe left
#10: command for ten finger swipe left

[swiperight]
#1: command for one finger swipe right
#2: command for two finger swipe right
#3: command for three finger swipe right
#4: command for four finger swipe right
#5: command for five finger swipe right
#6: command for six finger swipe right
#7: command for seven finger swipe right
#8: command for eight finger swipe right
#9: command for nine finger swipe right
#10: command for ten finger swipe right

[swipeup]
#1: command for one finger swipe up
#2: command for two finger swipe up
#3: command for three finger swipe up
#4: command for four finger swipe up
#5: command for five finger swipe up
#6: command for six finger swipe up
#7: command for seven finger swipe up
#8: command for eight finger swipe up
#9: command for nine finger swipe up
#10: command for ten finger swipe up

[swipedown]
#1: command for one finger swipe down
#2: command for two finger swipe down
#3: command for three finger swipe down
#4: command for four finger swipe down
#5: command for five finger swipe down
#6: command for six finger swipe down
#7: command for seven finger swipe down
#8: command for eight finger swipe down
#9: command for nine finger swipe down
#10: command for ten finger swipe down

[cirleleft]
#1: command for one finger circle left
#2: command for two finger circle left
#3: command for three finger circle left
#4: command for four finger circle left
#5: command for five finger circle left
#6: command for six finger circle left
#7: command for seven finger circle left
#8: command for eight finger circle left
#9: command for nine finger circle left
#10: command for ten finger circle left

[circleright]
#1: command for one finger circle right
#2: command for two finger circle right
#3: command for three finger circle right
#4: command for four finger circle right
#5: command for five finger circle right
#6: command for six finger circle right
#7: command for seven finger circle right
#8: command for eight finger circle right
#9: command for nine finger circle right
#10: command for ten finger circle right